In [6]:
import pandas as pd

In [10]:
df = pd.read_csv('superstore_1.csv', sep=';', quotechar='"', encoding='utf-8')

In [11]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08.11.2016,11.11.2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,"261,96",2,0,"41,9136"
1,2,CA-2016-152156,08.11.2016,11.11.2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...","731,94",3,0,"219,582"
2,3,CA-2016-138688,12.06.2016,16.06.2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,"14,62",2,0,"6,8714"
3,4,US-2015-108966,11.10.2015,18.10.2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,"957,5775",5,"0,45","-383,031"
4,5,US-2015-108966,11.10.2015,18.10.2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,"22,368",2,"0,2","2,5164"

In [12]:
df.shape

(9994, 21)

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   object
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   object
 20  Profit         9994 non-null   object
dtypes: int64(3), object(18)
memory usage: 1.6+ MB

In [15]:
from datetime import datetime

def parse_dates(x):
    for fmt in ("%d.%m.%Y", "%m/%d/%Y"):
        try:
            return datetime.strptime(x, fmt)
        except:
            continue
    return pd.NaT

df['Ship Mode'] = df['Order Date'].apply(parse_dates)

In [16]:
from datetime import datetime

def parse_dates(x):
    for fmt in ("%d.%m.%Y", "%m/%d/%Y"):
        try:
            return datetime.strptime(x, fmt)
        except:
            continue
    return pd.NaT

df['Ship Date'] = df['Ship Date'].apply(parse_dates)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   object
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   object
 20  Profit         9994 non-null   object
dtypes: datetime64[ns](2), int64(3), object(16)
memory usage: 1.6+ MB

In [18]:
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [19]:
df[df.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [20]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w\s]', '', regex=True)

In [22]:
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'subcategory',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [23]:
df.drop(
    ['row_id', 'order_id', 'customer_name', 'country', 'postal_code', 'product_name',  ],
    axis=1,
    inplace=True
)

In [24]:
df.head()

,order_date,ship_date,ship_mode,customer_id,segment,city,state,region,product_id,category,subcategory,sales,quantity,discount,profit
0,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,"261,96",2,0,"41,9136"
1,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"731,94",3,0,"219,582"
2,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,"14,62",2,0,"6,8714"
3,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,"957,5775",5,"0,45","-383,031"
4,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,"22,368",2,"0,2","2,5164"

In [28]:
df.dtypes

order_date     datetime64[ns]
ship_date      datetime64[ns]
ship_mode              object
customer_id            object
segment                object
city                   object
state                  object
region                 object
product_id             object
category               object
subcategory            object
sales                  object
quantity                int64
discount               object
profit                 object
dtype: object

In [29]:
df['discount'] = df['discount'].str.replace(',', '.', regex=False)
df['profit'] = df['profit'].str.replace(',', '.', regex=False)
df['sales'] = df['sales'].str.replace(',', '.', regex=False)

In [30]:
df['discount'] = pd.to_numeric(df['discount'], errors='coerce')
df['profit'] = pd.to_numeric(df['profit'], errors='coerce')
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')

In [31]:
df.dtypes

order_date     datetime64[ns]
ship_date      datetime64[ns]
ship_mode              object
customer_id            object
segment                object
city                   object
state                  object
region                 object
product_id             object
category               object
subcategory            object
sales                 float64
quantity                int64
discount              float64
profit                float64
dtype: object

In [32]:
df.head()

,order_date,ship_date,ship_mode,customer_id,segment,city,state,region,product_id,category,subcategory,sales,quantity,discount,profit
0,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820
2,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310
4,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_date   9994 non-null   datetime64[ns]
 1   ship_date    9994 non-null   datetime64[ns]
 2   ship_mode    9994 non-null   object
 3   customer_id  9994 non-null   object
 4   segment      9994 non-null   object
 5   city         9994 non-null   object
 6   state        9994 non-null   object
 7   region       9994 non-null   object
 8   product_id   9994 non-null   object
 9   category     9994 non-null   object
 10  subcategory  9994 non-null   object
 11  sales        9994 non-null   float64
 12  quantity     9994 non-null   int64
 13  discount     9994 non-null   float64
 14  profit       9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(9)
memory usage: 1.1+ MB

In [35]:
df_backup = df.copy()

In [36]:
df[df['sales'] < 0]

Empty DataFrame
Columns: [order_date, ship_date, ship_mode, customer_id, segment, city, state, region, product_id, category, subcategory, sales, quantity, discount, profit]
Index: []

In [37]:
df[df['quantity'] < 0]

Empty DataFrame
Columns: [order_date, ship_date, ship_mode, customer_id, segment, city, state, region, product_id, category, subcategory, sales, quantity, discount, profit]
Index: []

In [38]:
df.to_csv('clean_data_superstore.csv', index=False)

In [39]:
df = df_backup.copy()

In [40]:
df['order_month'] = df['order_date'].dt.month_name()

In [41]:
df['order_year'] = df['order_date'].dt.year

In [42]:
df.head()

,order_date,ship_date,ship_mode,customer_id,segment,city,state,region,product_id,category,subcategory,sales,quantity,discount,profit,order_month,order_year
0,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136,November,2016
1,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820,November,2016
2,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714,June,2016
3,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310,October,2015
4,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164,October,2015

In [43]:
df.columns

Index(['order_date', 'ship_date', 'ship_mode', 'customer_id', 'segment',
       'city', 'state', 'region', 'product_id', 'category', 'subcategory',
       'sales', 'quantity', 'discount', 'profit', 'order_month', 'order_year'],
      dtype='object')

In [44]:
columns_name_reordered = ['order_date', 'order_month', 'order_year','ship_date', 'ship_mode', 'customer_id', 'segment',
       'city', 'state', 'region', 'product_id', 'category', 'subcategory',
       'sales', 'quantity', 'discount', 'profit']

In [45]:
df=df[columns_name_reordered]

In [46]:
df.head()

,order_date,order_month,order_year,ship_date,ship_mode,customer_id,segment,city,state,region,product_id,category,subcategory,sales,quantity,discount,profit
0,2016-11-08,November,2016,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,2016-11-08,November,2016,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820
2,2016-06-12,June,2016,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,2015-10-11,October,2015,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310
4,2015-10-11,October,2015,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [47]:
df.to_csv('Superstore_clean.csv', index=False)